.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3f3b53;
  height: 100vh;
  padding-top: 5vh;
}

.keyboard {
  display: flex;
  width: 800px;
}

.screen {
  width: 800px;
  height: 200px;
  color: white;
  background: #221f2e;
  font-size: 5em;
  text-align: end;
}

button {
  height: 200px;
  width: 200px;
  border-top: 1px solid #921029;
  border-right: 1px solid #921029;
  font-size: 2em;
  cursor: pointer;
}

.clear-btn {
  width: 600px;
  background: #2eb8e7;
  font-size: 3em;
  border-left: 1px solid black;
}

.ope-btn > button {
  border-left: none;
  font-size: 4em;
  background: #7961f3;
}

.ope-btn {
  display: flex;
  flex-direction: column;
}

.nbr-btn {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: ". . ." ". . ." ". . .";
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.nbr-btn > button {
  background: #2f2b3f;
  color: white;
  font-size: 3em;
}

.equal-btn {
  width: 400px;
  position: relative;
  left: -50%;
  background: #2eb8e7 !important;
}

.btn {
  border-radius: 0 !important;
}
